<div id="<%= dom_id user %>">
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.first_name %>
  </td>
  <td>
    <%= user.last_name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.phone %>
  </td>
  <td>
    <%= user.twitter %>
  </td>
</div>

